@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    position: relative;
    min-height: 100vh;
    background-image: url('/background.png');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: auto;
    font-size: 18px;
}

input:focus {
    outline: none;
}

.logo {
    margin-right: 20px;
}

.coin-box {
    width: 436px;
    max-width: 436px;
    margin-bottom: 15px;
}

.verify-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 50px;
    width: 276px;
    background-color: #ffffff;
    border: 1px solid #ebecef;
    border-radius: 12px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    padding-right: 32px;
}

.verify-button:hover {
    background-color: #ebecef;
}

.last-text1 {
    font-size: 11px;
    color: #acd1fa;
    padding: 12px 24px;
}

.last-text2 {
    font-size: 20px;
    color: #174078;
    padding-left: 24px;
    padding-bottom: 24px;
    font-weight: bold;
}

.wc-logo {
    width: 30px;
    height: auto;
    margin-right: 24px;
}

.select-button {
    color: #288ed7;
    transform: skew(14deg);
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 100;
}

.selected-token-div {
    position: absolute;
    right: 15px;
    font-size: 16px;
    font-weight: bold;
}

.select-div {
    position: absolute;
    right: -30px;
    font-size: 16px;
    font-weight: bold;
}

.circle-div {
    width: 50px;
    height: 50px;
    border: 2px solid #288ed7;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    color: #82f27e;
    font-size: 38px;
    font-weight: bold;
    line-height: 1;
}

.modal-container {
    text-align: center;
}

.modal-close-button {
    margin-top: 20px;
}

.token-item {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(64, 61, 63);
    cursor: pointer;
}

.pools-page {
    position: absolute;
    top: 25%;
    left: 25%;
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    height: '100vh';
}

.nav-button {
    color: #174078;
}

.nav-button-inactive {
    color: #acd1fa;
}

.div-slanted {
    transform: skew(-14deg);
    background-color: #f4f9fd;
    width: 361px;
    height: 123px;
    display: flex;
    align-items: center;
}

.div-slanted-text {
    color: #288ed7;
    transform: skew(14deg);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 100;
}

.input-slanted {
    transform: skew(14deg);
    color: #82f27e;
    padding: 8px;
    padding-left: 10px;
    font-size: 2.8rem;
}

.swap-button {
    transform: skew(-14deg);
    background-color: #82f27e;
    width: 145px;
    height: 48px;
    margin: auto;
}

.swap-button-text {
    color: #174078;
    transform: skew(14deg);
}

@media screen and (max-width: 480px) {
    .coin-box {
        width: 80%;
        max-width: 100%;
        height: 550px;
        margin: 0 auto;
    }
}
